/*blue #00a0c6 magenta #ed1e79 green #9ce821 orange #ffbf00 blue-green #48bea6*/
body {
	background-color: #00a0c6;
}
div.paper {
	background-color: white;
	width: 860px;
	/*min-height: 1200px;*/
	display: block;
}
header {
	display: block;
	height: 400px;
	width:100%;
}
a img {
	outline: none;
	border: none;
}
div.logo img:hover {
	height: 290px;
}
div.topbars {
	background: url(../_images/topbar.gif);
	background-position: 0px 0px;
	width: 100%;
	height: 49px;
	display: block;

}
div.headphotos {
	height:140px;
	width:550px;
	display: block;
	background-color: gray;
	border: 4px solid #ffbf00;
	border-radius: 7px;
}
nav {
	display: block;
}
nav li {
	background-color: #ed1e79;
	list-style: none;
	height:40px;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, .4);
}
nav li.fontlarge {	
	width:115px;
	padding: 10px 3px 0px 3px;
}
nav li.fontsmall {	
	width:155px;
	padding: 5px 3px 5px 3px;
}
nav li:hover {
	background-color: #48bea6;
}
article {
	border:#48bea6 5px solid;
	width: 765px;
	min-height: 200px;
	display: block;
}
section.sechead {
	background-color: #48bea6;
	height: 50px;
}
.mistext p {
	width: 500px;
}